.displayItem {
  position: relative;
  top: 20px;
  margin: 5px;
  padding: 5px;
  color: tomato;
  border: 2px solid grey;
  border-radius: 100px;
}
.displayUnit,
.buttonUnit {
  position: relative;
  height: 50px;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid grey;
  border-radius: 10px;
}
.buttonUnit {
  display: flex;
  align-content: center;
}
button {
  position: relative;
  top: 15px;
  margin: 0 10px 0 10px;
  height: 20px;
}
.title {
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 20px;
  padding: 0 5px 0 5px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 5px;
}
